/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 0; /* Elimina el padding global para ocupar todo el espacio */
    margin: 0;
    height: 100%; /* Asegura que el cuerpo ocupe todo el alto de la pantalla */
}

/* Header que ocupa toda la pantalla */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e5f70;
    color: #fff;
    width: 100%;
    min-height: 100%; /* Asegura que ocupe todo el alto de la pantalla */
    padding: 20px;
}

/* Título dentro del header */
header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

/* Contenedor para los botones */
.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

/* Estilo común para botones y enlaces */
button, a {
    display: inline-block;
    padding: 12px 25px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    background-color: #4e5f70;
    border: none;
    border-radius: 8px;
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover, a:hover {
    background-color: #0056b3;
    transform: translateY(-3px); /* Efecto de elevación */
}

button:focus, a:focus {
    outline: none;
}

/* Estilo para el botón de logout */
button.logout, a.logout {
    background-color: #e74c3c; /* Color rojo */
}

button.logout:hover, a.logout:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el ratón */
}

/* Estilo específico para enlaces de anuncios (ads) */
a.ads, button.ads {
    background-color: #577a65b2; /* Verde para los enlaces de anuncios */
    color: #fff;
}

a.ads:hover, button.ads:hover {
    background-color: #1db85d; /* Verde más oscuro al pasar el ratón */
}

/* Estilo específico para los botones y enlaces relacionados con login y submit ad */
a.login, button.login,
a.submit-ad, button.submit-ad {
    background-color: #f39c12; /* Naranja para login y submit ad */
}

a.login:hover, button.login:hover,
a.submit-ad:hover, button.submit-ad:hover {
    background-color: #e67e22; /* Naranja más oscuro al pasar el ratón */
}

/* Estilo para los botones de enlace */
a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #47744b;
}

button.logout {
    background-color: #e74c3c; /* Color rojo */
}

/* Responsive para pantallas pequeñas */
@media (max-width: 600px) {
    button, a {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
